<header>
    <nav>
        <a target="_self" href="/">Duncan Britt</a> -
        <a target="_self" href="/blog-posts.html">Blog</a> -
        <a target="_self" href="/portfolio.html">Portfolio</a> -        
        <a target="_self" href="/contact.html">Contact</a> -
        <a target="_self" href="/resume.html">Resume</a> |
        <a target="_blank" rel="noopener noreferrer" href="https://duncan-britt.github.io/splice-docs">Splice</a>
        <a target="_blank" rel="noopener noreferrer" href="https://word-ladders.herokuapp.com/">Word Ladders</a>
    </nav>
</header>
