<header>
    <nav>
        <a target="_self" href="/">About</a> -
        <a target="_self" href="/blog-posts.html">Blog</a>
        <!-- <a target="_self" href="/portfolio.html">Portfolio</a> -         -->
        <!-- <a target="_self" href="/contact.html">Contact</a> - -->
        <!-- <a target="_self" href="/resume.html">Resume</a> | -->
        <!-- <a target="_blank" rel="noopener noreferrer" href="https://duncan-britt.github.io/splice-docs">Splice</a> - -->
        <!-- <a target="_blank" rel="noopener noreferrer" href="https://word-ladders.herokuapp.com/">Word Ladders</a> -->
        <!-- <a target="_blank" rel="noopener noreferrer" href="https://github.com/Duncan-Britt/">GitHub</a> -
             <a target="_blank" rel="noopener noreferrer" href="https://www.codewars.com/users/Duncan-Britt">Code Wars</a> -->
    </nav>
</header>
